.telegram_btn_wrapper{
    position: fixed;
    bottom: 4.5rem;
    right: 12rem;
    display: block;
    width: 2rem;
    z-index: 99;
    text-align: center;
    height: 100px;
    cursor: pointer;
    padding: 1rem;
}

.telegram_btn{
    position: relative;
    width: 70px;
    height: 70px;
    background-color: rgb(0, 153, 255);
    color: aliceblue;
    font-size: 3rem;
    padding: 2rem 0rem;
    line-height: 1;
    border-radius: 50%;
    animation: pulse 5s cubic-bezier(0, 0, 0, 0) 0.3s infinite;
}

.telegram_icon{
    text-shadow: 0 2px 10px rgb(0, 153, 255);
    animation: changeSize 5s cubic-bezier(0, 0, 0, 0) 0s infinite;
}

@keyframes pulse 
{
    0%{box-shadow: 0 0 0 0 #729fff}
    25%{box-shadow: 0 0 0 10px #96b7ff}
    50%{box-shadow: 0 0 0 20px #bbd0ff}
    75%{box-shadow: 0 0 0 25px #bdd1ff}
    100%{box-shadow: 0 0 0 30px #cbdbff}
}

@keyframes changeSize{
    0%{transform: scale(1);}
    25%{transform: scale(1.1);}
    50%{transform: scale(0.8);}
    70%{transform: scale(1.1);}
    100%{transform: scale(1);}
}

.Modal_box{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 60%;
    background: var( --background-color);
    border: 2px solid var(--text-color);
    box-shadow: 24px;
    padding: 4rem;
    border-radius: 10px;
}
.form_inputs{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 2rem;
}
.input_wrapper{
    width: 100%;
    background: transparent;
    height: 50px;
    margin-top: 2rem;
}

.input_itself{
    height: 100%;
    width: 100%;
    padding: 2rem 0.1rem;
    font-size: 1.5rem;
    border: 3px solid transparent;
    border-bottom: 3px solid rgb(0, 153, 255);
    outline: none;
    background: transparent;
    color: var(--text-color);
    border-radius: 10px;
}
.input_itself:focus,
.Textare_itself:focus
{
    border-bottom: 3px solid rgb(0, 153, 255); 
    border: 3px solid rgb(0, 153, 255);
}
.modal_header_title_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Textare_itself{
    height: 120px;
    width: 100%;
    padding: 2rem 0.1rem;
    font-size: 1.5rem;
    border: 3px solid transparent;
    border-bottom: 3px solid rgb(0, 153, 255);
    outline: none;
    background: transparent;
    color: var(--text-color);
    border-radius: 10px;
    resize: none;
}
.modal_title{
    font-size: 2rem;
}

@media(max-width:1024px){
    .telegram_btn_wrapper{
        right: 9rem;
        width: 2rem;
    }
}