.logoSlider{
    height: 100px;
    padding: 0 1rem;
    background: var(--slider-back-color);
}
.logos_wrapper{
    width: 100%;
    padding: 2rem 0rem;
}
.Logos{
    width: 60px;
}

.Logos_next{
    width: 100px;
}

.Logos_tailwind{
    width: 150px;
}