.navbar{
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 1rem 0rem;
    z-index: 999;
}

.navbar_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo_name{
    font-size: 3rem;
    font-weight: 900;
}

.navbar_menu_links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.menu_links{
    font-size: 2rem;
}

.navbar_right{
    display: flex;
    align-items: center;
}
.Flags_img{
    width: 50px;
    cursor: pointer;
}