.navbar{
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 2rem 0rem;
    z-index: 999;
    background: var(--navbar-back-color);
}

.navbar_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo_name{
    font-size: 3rem;
    position: relative;
    font-weight: 600;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    -webkit-text-stroke: 0.3vw #161c33;
    text-transform: uppercase;
}
.Logo_name::before{
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: 0;
   width: 0%;
   height: 100%;
   color:  #F8F6E3;
   -webkit-text-stroke: 0vw #2f3960;
   border-right: 2px solid  #F8F6E3;
   overflow: hidden;
   animation: animateName 6s linear infinite;
}


.navbar_menu_links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.menu_links{
    font-size: 2rem;
    color: var(--home_links-color);
}

.navbar_right{
    display: flex;
    align-items: center;
}
.Flags_img{
    width: 50px;
    cursor: pointer;
}

@keyframes animateName{
    0%, 10%, 100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}

.circle_hamburger{
    height: 40px;
    width: 40px;
    background: var(--circle-menu);
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    color: var(--hamburgerAnd-close);
}
.hamburgermenu_wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.close_circle{
    height: 40px;
    width: 40px;
    background: var( --circle-menu);
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    color: var(--hamburgerAnd-close);
}

.navbar_small_device{
    display: none;
}
@media(max-width:1024px){
    .navbar{
        padding: 2rem 1rem;
    }
    
}

@media(max-width:868px){
    .navbar_small_device{
        display: block;
    }
    .navbar_menu_links{
        display: none;
    }
    .close_menu_wrapper{
        display: flex;
        align-items: center;
        justify-self: end;
        justify-content: right;
        padding: 2rem;
    }

    .small_device_navbar{
        position: fixed;
        top: 0;
        right: 0;
        background: var(--navbar-back-color);
        height: 100vh;
        width: 70%;
        transition: ease 0.5s;
        z-index: 5;
        box-shadow: 0px 15px 10px #000000;
    }
    .divider{
        width: 100%;
        margin: 1rem 0rem;
        height: 1px;
        background: var(--line-divider);
    }

    .navbar_menu_small_device_links_wrapper{
        display: flex;
        flex-direction: column;
        margin: 10rem 1rem;
        gap: 1rem;
    }
    .Logo_name{
        font-size: 3rem;
        -webkit-text-stroke: 0.8vw #161c33;
    }
}

@media(max-width:768px){


    .small_device_navbar{
        width: 50%;
    }

    .navbar_menu_small_device_links_wrapper{
        display: flex;
        flex-direction: column;
        margin: 10rem 1rem;
        gap: 1rem;
    }
}

@media(max-width:568px){


    .small_device_navbar{
        width: 100%;
    }
    .Logo_name{
        font-size: 3rem;
        -webkit-text-stroke: 1.2vw #161c33;
    }

    .navbar_menu_small_device_links_wrapper{
        display: flex;
        flex-direction: column;
        margin: 10rem 5rem;
        gap: 1rem;
    }
}

@media(max-width:368px){


    .small_device_navbar{
        width: 100%;
    }
    .Logo_name{
        font-size: 2.7rem;
        -webkit-text-stroke: 1.3vw #161c33;
    }

    .navbar_menu_small_device_links_wrapper{
        display: flex;
        flex-direction: column;
        margin: 10rem 5rem;
        gap: 1rem;
    }
}