.footer{
    height: 50px;
    background: var(--navbar-back-color);
    padding: 2rem;
}

.footer_text_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_text{
    font-size: 1.5rem;
    color: var(--home_links-color);
}