/* Core styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  list-style: none;
  outline: none;
  text-decoration: none;
}
html{
  font-size: 62.5%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
}
/* //Core styles */



/* Dark Mode Styles */
:root {
  --background-color: #F5F7F8;
  --text-color: #000;
  --home_links-color:#F8F6E3;


  --navbar-back-color: linear-gradient(to right, #002a9d, #00011ceb);
  --circle-menu: #ffffff;
  --hamburgerAnd-close:#000000;
  --line-divider: #ffffff;

  --slider-back-color:#fff;

  --dots-color:#fff;
  --dots-focus-color:#c7c7c7;

  --contact_color:#000;
}
[data-theme="dark"] {
  --background-color: #000000;
  --text-color: #F8F6E3;
  --navbar-back-color: #211951;
  --circle-menu: #ffffff;
  --hamburgerAnd-close:#021526;
  --line-divider: #FFF6DA;
  --slider-back-color:#fff;

  --dots-color:#F8F6E3;
  --dots-focus-color:#0088ff;


  --contact_color:#01dbc2;
}

body{
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.home_btn{
  color: var(--text-color);
}
/* Dark Mode Styles */


/* Scroll bar */
::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-track {
	background: #ffffff;
}

::-webkit-scrollbar-thumb {
	background: #000000;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(to right, #002a9d, #00011ceb);
}


/* Customizing the dots */
.slick-dots li button {
  width: 20px;
  height: 20px;
  color: #000;
  background-color: var(--dots-color);
  border-radius: 50%;
  border: none;
}

/* Active dot styling */
.slick-dots li.slick-active button {
  background-color: var(--dots-focus-color);
  transform: scale(1); /* Make active dot slightly larger */
}