/* Core styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
}
html{
  font-size: 62.5%;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
}
/* //Core styles */



/* Dark Mode Styles */
:root {
  --background-color: #fff;
  --text-color: #021526;
  --navbar-back-color: #FFF0D1;
}
[data-theme="dark"] {
  --background-color: #000;
  --text-color: #fff;
}

body{
  background-color: var(--background-color);
  color: var(--text-color);
  /* transition: background-color 0.1s ease, color 0.1s ease; */
}
/* Dark Mode Styles */